
.containerSteps {
    width: 100%;
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.steps {
    display: inline-flex;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.arrow {
    display: inline-block;
    margin: 0 auto;
    padding-left: 50px;
}



.stepsNum {
    text-align: center;
}

.textStep {
    font-family: 'Catamaran' sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    font-size: 24px;
    text-align: center
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  {

    .containerSteps {
        margin: 0 auto;
        text-align: center;
    }
    
    .steps {
        flex-flow: column;
        margin: 0 auto;
        text-align: center;
    }

  

    .arrow {
       position: absolute;
       visibility: hidden;
    }

   .textStep {
       text-align: center;
   }

  }
